.tag {
  padding: 0 0.5rem;
  border-radius: var(--radius2);

  border: none;
  font-size: 1rem;
  text-transform: capitalize;

  color: var(--tag-color);
  background: var(--tag-bg-color);

  transition: background ease-in 500ms;
  transform: translateZ(0);
}

.tag:hover,
.tag:focus {
  background: var(--tag-hover-bg-color);
  transition: background ease-out 150ms;
}
