.wrapper {
  --grid-layout-gap: var(--spacing);

  flex: 3;
  flex-basis: 75%;
  padding: var(--grid-layout-gap);

  color: var(--paragraph-color);
  background: var(--main-bg-color);
}

.title {
  margin-bottom: 8px;
  font-size: 1.5rem;
  font-weight: 400;
}

.cardsWrapper {
  margin-top: 30px;

  /* https://css-tricks.com/an-auto-filling-css-grid-with-max-columns/ */
  --grid-column-count: 2;
  --grid-item--min-width: 253px;

  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc(
    (100% - var(--total-gap-width)) / var(--grid-column-count)
  );

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr)
  );

  grid-gap: var(--grid-layout-gap);
}

/* .wrapper > h1 {
  margin-top: 4px;
  margin-left: -2px;

  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--heading-color);
} */

@media (max-width: 300px) {
  .cardsWrapper {
    --grid-item--min-width: 181px;
  }
}
