.body {
  max-width: 1600px;
  margin: auto;

  background: hsl(230 33% 26%);
}

.main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  margin-bottom: 32px;
}

@media (max-width: 1024px) {
  .main {
    margin: 0;
  }
}
