.flag {
  position: absolute;
  inset-block-start: 12px;
  inset-inline: auto;
  inset-inline-end: 0px;

  line-height: 28px;
  padding: 0 10px;

  color: var(--flag-color);
  background-color: var(--flag-bg-color);

  border-radius: var(--radius1);
  border-start-start-radius: 9999999px;
  border-end-start-radius: 9999999px;
  border-inline-end: 4px solid var(--flag-tail-color);
}
