.flag {
  position: absolute;
  top: 18px;
  right: 0px;
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  font-size: 0.8rem;
  font-weight: 800;

  color: var(--flag-color);
  background-color: var(--flag-bg-color);

  border-radius: var(--radius1);
  border-top-left-radius: 99999px;
  border-bottom-left-radius: 99999px;
  box-shadow: inset -4px 0px 0px 0px var(--flag-tail-color);
}
