.button {
  position: absolute;
  inset-inline-end: 0px;
  inset-block-start: 0px;

  width: 32px;
  height: 32px;
  font-size: 14px;
  border-radius: 9999px;
  border: none;
  padding: 5px 6px;
  cursor: pointer;

  color: var(--button-color);
  background-color: var(--button-bg-color);

  transition: background-color 600ms;
}

.button:hover,
.button:focus-visible {
  background-color: var(--button-hover-bg-color);
  transition: background-color 150ms;
}

.button:active {
  background-color: hsl(230 33% 0% / 1);
  transition: background-color 150ms;
}
